{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <title>{% block title %}Домашние рецепты{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Кондитерская</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'any_recipe' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'add_recipe' %}">Добавить рецепт</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Войти</a></li>
                    <li><a href="{% url 'signup' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Кондитерская © 2024</p>
    </footer>
</body>
</html>
